.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  aling-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content i {

}